extends layout.pug

block content
  .ui.container
    form.ui.form(action="/clients" method="get")
      .fields
        .twelve.wide.field
          input(type="text" name="search" placeholder="Recherche")
        .two.wide.field
          input.ui.button(type="submit" value="Chercher")
        .two.wide.field
          a.ui.button.yellow(href="/clients?membre=true") Toucan™

    h1.ui.header #{client.prenom} #{client.nom}

    .ui.grid
      .six.wide.column
        .ui.statistics
          .statistic
            .value #{client.solde.toFixed(2)} €
            .label Solde
        form(action="/clients/"+client._id+"/supprimer" method="post" onsubmit="return confirm('Supprimer "+client.prenom+" "+client.nom+" ?');")
          a.ui.button.icon(href="/clients/"+client._id+"/modifier")
            i.edit.icon
          button.ui.button.icon(type="submit")
            i.trash.icon
          button.ui.button(type="button" onclick="$('#commande').modal('show')") Commande

          button.ui.button(type="button" onclick="$('#recharge').modal('show')") Recharge

        h3.ui.header Dernières opérations
        table.ui.table.compact
          thead
            tr
              th Date
              th Montant
              th Motif
          tbody
            each operation in client.operations.slice(-5).reverse()
              tr
                td= operation.date.toLocaleDateString()
                td #{operation.montant.toFixed(2)} €
                td= operation.motif

        h3.ui.header Dernières commandes
        table.ui.table.compact
          thead
            tr
              th Date
              th Produit
              th Prix
          tbody
            each commande in client.commandes.slice(-5).reverse()
              tr
                td= commande.date.toLocaleDateString()
                td #{commande.produit.nom}
                td #{commande.produit.prixUnitaire.toFixed(2)} €

        .ui.modal#commande
          .header #{client.prenom} #{client.nom}
          .content.scrollable
            h3.ui.header Nourriture
            .ui.tiny.images
              each produit in nourriture
                a.ui.tiny.image.perso-popup(href="/clients/"+client._id+"/achat/"+produit._id data-content=produit.nom+" ("+produit.prixUnitaire+" €)")
                  img(src="/images/"+produit.image)
            h3.ui.header Boissons
            .ui.tiny.images
              each produit in boissons
                a.ui.tiny.image.perso-popup(href="/clients/"+client._id+"/achat/"+produit._id data-content=produit.nom+" ("+produit.prixUnitaire+" €)")
                  img(src="/images/"+produit.image)

        .ui.modal#recharge
          .header #{client.prenom} #{client.nom}
          .content
            form.ui.form#recharge-form(action="/clients/"+client._id+"/operations" method="post")
              .field
                label Montant de l'opération
                input(type="number" step="0.01" placeholder="Montant" name="montant")
          .actions
            button.ui.button(type="button" onclick="$('#recharge').modal('hide')") Annuler
            button.ui.button(type="submit" form="recharge-form") Valider

      .ten.wide.column
        .ui.statistics
          .statistic
            .value #{client.totalSpent.toFixed(2)} €
            .label Total dépensé

          .statistic
            .label Meilleurs achats
            ol.ui.list
              each product in bestProducts
                li #{product.name} x#{product.number}


        #svelte-commande
  
  script(src="/static/bundle.js")
  script $(".ui.modal").modal();
  script $('.perso-popup').popup();
  script $('.ui.dropdown').dropdown();
