extends layout.pug

block content
  .ui.container
    h1.ui.header Modifier #{client.prenom} #{client.nom}

    form.ui.form(action="/clients/"+client._id+"/modifier" method="post")
      .ui.field
        label Prénom
        input(name="prenom" placeholder="Prénom" type="text" value=client.prenom)
      .ui.field
        label Nom
        input(name="nom" placeholder="Nom" type="text" value=client.nom)
      .ui.field
        label Surnom
        input(name="surnom" placeholder="Surnom (optionnel)" type="text" value=client.surnom)
      .ui.field
        label Promotion
        input(name="promotion" placeholder="Promotion" type="text" value=client.promotion)
      .ui.field
        .ui.checkbox
          input(name="membre" type="checkbox" checked=client.membre)
          label Membre du Toucan
      .ui.field
        input.ui.button(type="submit" value="Modifier")
      
