extends layout.pug

block content
  .ui.container
    h1.ui.header Produits
    a.ui.button(href="/produits/nouveau") Créer un produit

    h2.ui.header Boissons
    .ui.eight.cards
      each produit in boissons
        a.card(href="/produits/"+produit._id)
          .content
            .header= produit.nom
              .ui.label.floating #{produit.prixUnitaire}€
          .ui.tiny.image.centered
            img(src="/images/"+produit.image alt="")
          .content
            .description #{produit.stock} en stock

    h2.ui.header Nourriture
    .ui.eight.cards
      each produit in nourritures
        a.card(href="/produits/"+produit._id)
          .content
            .header= produit.nom
              .ui.label.floating #{produit.prixUnitaire}€
          .ui.tiny.image.centered
            img(src="/images/"+produit.image alt="")
          .content
            .description #{produit.stock} en stock

    h2.ui.header Autres
      .ui.eight.cards
        each produit in autres
          a.card(href="/produits/"+produit._id)
            .content
              .header= produit.nom
                .ui.label.floating #{produit.prixUnitaire}€
            .ui.tiny.image.centered
              img(src="/images/"+produit.image alt="")
            .content
              .description #{produit.stock} en stock
